@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html, body{
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

body{
    background-image: url('https://s1.1zoom.me/big3/856/335412-sepik.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header, main{
    width: 80%;
    height: auto;
    margin: 0% 10% 0% 10%;
}

/* ------------------------------------------------ HEADER ------------------------------------------------ */
header{
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

header #inicio{
    width: 25%;
    color: white;
    text-align: left;
}

header nav{
    width: 75%;
}

/* ------------------------------------------------ NAV ------------------------------------------------ */
nav .nav{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav .nav-item{
    width: 20%;
    text-align: center;
}

nav .nav-link{
    color: white;
    margin-right: 5%;
}

nav .nav-link:hover, nav .nav-link:focus{
    color: white;
}

/* ------------------------------------------------ Presentacion ------------------------------------------------ */
#presentacion{
    text-align: center;
    width: 100%;
}

#social{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    height: 100%;
}

#social h2{
    color: white;
    font-weight: bolder;
}

#social p{
    color: white;
    font-size: 1.5em;
    display: block;
    margin: auto;
    white-space: nowrap;     
    width: 24ch; 
    animation: escribiendo 4.5s steps(26) infinite alternate;          
    overflow: hidden;
}

@keyframes escribiendo {
    from {width: 0;}
    to {width: 100%;}
}

#social button{
    width: 30%;
    font-size: 1.2em;
}

#foto-perfil{
    width: 15%;
    border-radius: 15%;
    display: inline-block;
}

#social article{
    width: 100%;
    margin-top: 3%;
}

#social article img{
    width: 5%;
    margin-right: 3%;
}

#social article a{
    text-decoration: none;
}

.titulo{
    color: #BDD1CF;
    padding-left: 1%;
    font-weight: 800;
}

#descargar:hover{
    background-color: #040410;
    border-radius: 10px;
    color: whitesmoke;
}

/* ------------------------------------------------ SOBRE MI ------------------------------------------------ */
#descripcion b, #descripcion p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#descripcion p{
    color: white;
    margin-left: 2%;
}

/* ------------------------------------------------ PROYECTOS ------------------------------------------------ */
#proyectos{
    margin-bottom: 2%;
}

#proyectos .card{
    width: 22.5%;
    text-align: center;
    background-color: #131315;;
    border: 1px solid #dd2476;
    margin-left: 2%;
}

#proyectos .card-tittle{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F6F6F8;
}

#proyectos .card-text{
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.60em;
    color: #9A9AA0;
}

#proyectos .tecno{
    margin-bottom: 5%;
}

#proyectos .tecno img{
    width: 15%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#proyectos .btn{
    background-color: #01BE96;
    color: #CAECE7;
    border: 0px;
    width: 50%;
    font-size: 0.70em;
    font-family: Georgia, serif;
}

/* ------------------------------------------------ TECNOLOGIAS ------------------------------------------------ */
#tencologias{
    width: 100%;
}

.muestra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 2%;
}

.conjunto{
    width: 10%;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 2%;
}

.conjunto img{
    display: inline-block;
    width: 50%;
}

.conjunto p{
    margin-top: 10%;
    font-size: 1.2em;
    color: white;
}

/* ------------------------------------------------ CONTACTO ------------------------------------------------ */

#contacto form{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

#contacto form label{
    color: white;
}

#contacto .col-12{
    text-align: center;
}

#contacto .col-12 button{
    width: 20%;
    margin-bottom: 2%;
}